* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
}

/* CARD STYLE

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.656rem auto;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .625rem;
    padding: 0.625rem;
}

.card-image {
    flex: 1;
}

.card-image img {
    height: 8.75rem;
    object-fit: cover;
    border-radius: .938rem;
}

.headline-title {
    font-size: 1.75rem;
} 

.headline-author {
    font-size: .875rem;
}

/* weather style */
/*
.weather-container {
    margin: auto;
    padding: 0.625rem;
    background-image: linear-gradient(to bottom, #befdfd, #b1b9c4);
    border-radius: .625rem;
}

.weather-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.today-image {
    align-self: center;
}

.today-image img {
    max-width: 100px;
}

.today-description {
    align-self: center;
    margin-left: .625rem;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .15rem;
}

.today-details {
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 2rem;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .card-container {
        max-width: 576px;
    }
}
@media screen and (max-width: 576px) {
    .weather-container {
        max-width: 576px;
    }
} */

.headlines {
    height: 100%;
    padding: 1rem;
}

.weather {
    height: 100%;
    padding: 1rem;
}

@media screen and (max-width: 576px) {
    .app-root {
        max-width: 576px;
    }
}

@supports (display: grid) {
    @media screen and (min-width: 768px) {
        .app-root {
            width: 700px;
            margin: 1rem auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
    /* @media screen and (min-width: 768px) {
        .card-container {
            max-width: 768px;
            flex: 2;
        }
    }
    @media screen and (min-width: 768px) {
        .weather-container {
            max-width: 768px;
        }
    } */
}
@supports (display: grid) {
    @media screen and (min-width: 992px) {
        .app-root {
            width: 90%;
            margin: 1rem auto;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
        }
    }
    /* @media screen and (min-width: 992px) {
        .card-container {
            max-width: 992px;
        }
    }
    @media screen and (min-width: 992px) {
        .weather-container {
            max-width: 992px;
        }
    } */
}